---
# roles/vcenter_snapshot/tasks/01_find_vms.yml

- name: "VM Bilgilerini Topla: Her bir VM'i vCenter'larda ara ve bilgileri işle"
  block:
    - name: "Arama: '{{ vm_item.key }}' VM'ini vCenter'larda ara"
      community.vmware.vmware_guest_info:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_password }}"
        validate_certs: "{{ vcenter_validate_certs }}"
        name: "{{ vm_item.key }}"
      loop: "{{ vcenter_hostnames }}"
      loop_control:
        loop_var: vcenter_host
      register: vm_info_per_vcenter
      ignore_errors: true # Bir vCenter'da bulunamazsa devam et

    - name: "İşleme: '{{ vm_item.key }}' için bulunan bilgileri işle"
      ansible.builtin.set_fact:
        vm_processing_status: "{{ vm_processing_status | combine({vm_item.key: vm_item.value | combine(updated_vm_data)}) }}"
      vars:
        # 'instance' anahtarı olan ilk başarılı sonucu bul
        found_vm_data: "{{ vm_info_per_vcenter.results | selectattr('instance', 'defined') | first | default({}) }}"
        updated_vm_data:
          status: "{{ 'info_gathered' if found_vm_data.instance is defined else 'failed' }}"
          found: "{{ true if found_vm_data.instance is defined else false }}"
          message: "{{ 'VM bilgileri başarıyla alındı.' if found_vm_data.instance is defined else 'VM hiçbir vCenter sunucusunda bulunamadı.' }}"
          vcenter_hostname: "{{ found_vm_data.invocation.module_args.hostname | default(omit) }}"
          datacenter: "{{ found_vm_data.instance.hw_datacenter | default(omit) }}"
          folder: "{{ found_vm_data.instance.hw_folder | default(omit) }}"
          snapshot_count: "{{ found_vm_data.instance.snapshots | default([]) | length }}"
          action_result: "{{ found_vm_data | default({}) }}" # Hata ayıklama için tüm çıktıyı kaydet

  # Ana döngü: Her bir VM için bu bloğu çalıştır
  loop: "{{ vm_processing_status | dict2items }}"
  loop_control:
    loop_var: vm_item
  when: vm_item.value.status == 'pending'