---
# roles/vcenter_snapshot/tasks/12_take_snapshot.yml

- name: "Snapshot Oluştur: '{{ vm_item.key }}' için snapshot alınıyor"
  block:
    - name: "Çalıştır: Snapshot alma işlemi"
      community.vmware.vmware_guest_snapshot:
        hostname: "{{ vm_item.value.vcenter_hostname }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_password }}"
        validate_certs: "{{ vcenter_validate_certs }}"
        datacenter: "{{ vm_item.value.datacenter }}"
        name: "{{ vm_item.key }}"
        state: present
        snapshot_name: "{{ service_desk_ticket }}"
        description: "Service Desk: {{ service_desk_ticket }} | Created by Ansible"
      register: snapshot_result

    - name: "Sonuç: Başarılı snapshot işlemini kaydet"
      ansible.builtin.set_fact:
        vm_processing_status: "{{ vm_processing_status | combine({vm_item.key: vm_item.value | combine({'status': 'success', 'message': 'Snapshot başarıyla oluşturuldu.', 'action_result': snapshot_result}) }) }}"

  rescue:
    - name: "Hata: Snapshot alma hatasını kaydet"
      ansible.builtin.set_fact:
        vm_processing_status: "{{ vm_processing_status | combine({vm_item.key: vm_item.value | combine({'status': 'failed', 'message': 'Snapshot oluşturulurken hata oluştu: ' ~ (snapshot_result.msg | default('Bilinmeyen hata')), 'action_result': snapshot_result}) }) }}"

  # Ana döngü: Sadece uygun durumdaki VM'ler için çalıştır
  loop: "{{ vm_processing_status | dict2items }}"
  loop_control:
    loop_var: vm_item
  when: vm_item.value.status == 'info_gathered'