---
# roles/vcenter_snapshot/tasks/99_report_summary.yml

- name: "Rapor: İşlem özetini göster"
  ansible.builtin.debug:
    msg: |
      --------------------------------------------------
      VM: {{ item.key }}
      Durum: {{ item.value.status | upper }}
      Mesaj: {{ item.value.message }}
      --------------------------------------------------
  loop: "{{ vm_processing_status | dict2items }}"
  loop_control:
    loop_var: item

- name: "Rapor: Genel Durum"
  ansible.builtin.debug:
    msg: |
      ==========================================
      GENEL ÖZET ({{ snapshot_action | upper }})
      ==========================================
      Toplam VM: {{ vm_processing_status | length }}
      Başarılı: {{ vm_processing_status | dict2items | selectattr('value.status', 'equalto', 'success') | list | length }}
      Atlanan: {{ vm_processing_status | dict2items | selectattr('value.status', 'equalto', 'skipped') | list | length }}
      Hatalı: {{ vm_processing_status | dict2items | selectattr('value.status', 'equalto', 'failed') | list | length }}
      ==========================================
  run_once: true