---
# roles/vcenter_snapshot/tasks/main.yml

- name: "Görev 00: Ön kontrolleri yap ve ortamı hazırla"
  ansible.builtin.import_tasks: 00_pre_checks.yml

- name: "Görev 01: Sanal makine bilgilerini topla"
  ansible.builtin.import_tasks: 01_find_vms.yml

- name: "AKTARIM: CREATE akışını başlat"
  ansible.builtin.import_tasks: 10_create_flow.yml
  when: snapshot_action == 'create'

- name: "AKTARIM: DELETE akışını başlat"
  ansible.builtin.import_tasks: 20_delete_flow.yml
  when: snapshot_action == 'delete'

- name: "Görev 99: İşlem özetini raporla"
  ansible.builtin.import_tasks: 99_report_summary.yml
  # Hata olsa bile raporlama adımının çalışmasını garantile
  always: true